

<div class="thumbnail">
  <%= gravatar_for user, size: 100 %>
  <div class="caption">
    <h3><%= link_to user.name, user %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iure reprehenderit iusto.</p>
    <p>
      <% if current_user.admin? && !current_user?(user) %>
      <button class="btn btn-danger btn-sm">
        <%= link_to "delete", user, method: :delete,
                                            data: { confirm: "Are you sure?" } %>
      </button>
      <% end %>
    </p>
  </div>
</div>



