<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
  <% @users.each do |user| %>
  <div class="col-sm-6 col-md-4">
    <%= render user %>
  </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate %>
</div>
